<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.photonics.com/images/Web/Articles/2019/11/4/thumbnail_65257.jpg');">
  <div class="container">
    <h1>Your <%= @list.name %> List</h1>
    <p>Change your life whatch some movies</p>
    <%= link_to "Add a Movie", new_list_bookmark_path(@list), class:"btn btn-gradient" %>
  </div>
</div>

<div class="cards">
  <% @list.bookmarks.each do |bookmark| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>)" >
        <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Oh, you want to delete?" } do %>
          <div class="x-icon">
            <i class="fa-solid fa-circle-xmark"></i>
          </div>
        <% end %>
        <p><%= bookmark.movie.title %></p>
        <p><%= bookmark.comment %></p>
      </div>
  <% end %>
</div>
<div class="back-button">
  <%= link_to "Back to all Lists", lists_path(), class:"btn btn-gradient" %>
</div>
